.servantSiderNavbar{
    position: sticky !important;
    top: 15px;
}
.servantSiderNavbar__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.servantSiderNavbar__text__hidden{
    display: none;
}

.servantSiderNavbar__text__item:first-child{
    font-weight: bold;
    color: #99f;
    margin-right: 5px;
}

.servantSiderNavbar__text__item:nth-child(2){
    font-weight: bold;
    color: #fff;
}


@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */

}