.memberSiderNavbar{
    position: sticky !important;
    top: 15px;
}
.memberSiderNavbar__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.memberSiderNavbar__text__hidden{
    display: none;
}

.memberSiderNavbar__text__item:first-child{
    font-weight: bold;
    color: #99f;    
    margin-right: 5px;
}

.memberSiderNavbar__text__item:nth-child(2){
    font-weight: bold;
    color: #fff;
}